body{
margin:0;
font-family:Georgia, serif;
color:white;
overflow-x:hidden;
}

/* DUNGEON */

#dungeon{
height:100vh;
background-image:url("dungeon.jpg");
background-size:cover;
background-position:center;
display:flex;
align-items:center;
justify-content:center;
}

.popup{
background:rgba(0,0,0,0.6);
padding:40px;
border-radius:12px;
text-align:center;
}

.popup input{
padding:10px;
border:none;
border-radius:6px;
margin-top:10px;
}

.popup button{
padding:10px 20px;
margin-top:10px;
background:#b48cff;
border:none;
color:white;
border-radius:6px;
cursor:pointer;
}



/* MUSEUM */

#museum{
min-height:100vh;
background-image:url("museum.jpg");
background-size:cover;
background-position:center;
padding-bottom:120px;
}

.title{
text-align:center;
padding-top:40px;
font-size:40px;
color:#e8dbff;
}



/* PHOTO ROW */

.photoRow{
display:flex;
align-items:center;
justify-content:center;
gap:50px;
margin-top:120px;
opacity:0;
transform:translateY(-120px);
transition:1.5s;
}

.photoRow.show{
opacity:1;
transform:translateY(0);
}

.photoRow.left{
flex-direction:row;
}

.photoRow.right{
flex-direction:row-reverse;
}



/* GOLD FRAME */

.frame{
background:#fff8dc;
padding:14px;
border:12px solid #d4af37;
box-shadow:0 20px 40px rgba(0,0,0,0.6);
}

.frame img{
width:260px;
height:340px;
object-fit:cover;
}



/* DESCRIPTION */

.description{
max-width:300px;
background:rgba(255,255,255,0.9);
color:#3b2c63;
padding:20px;
border-radius:8px;
font-family:"Times New Roman";
}



/* SPOTLIGHT */

.spotlight{
position:absolute;
width:220px;
height:380px;
background:radial-gradient(circle,rgba(255,255,200,0.6),transparent 70%);
transform:translateY(-150px);
filter:blur(40px);
}



/* SCROLL */

.scrollContainer{
display:flex;
justify-content:center;
margin-top:120px;
}

.scrollPaper{
width:500px;
background:#f4e2b8;
color:#3a2a0a;
padding:40px;
border-radius:6px;
font-family:"Times New Roman", serif;
box-shadow:0 20px 40px rgba(0,0,0,0.5);

transform:scaleY(0);
transform-origin:top;
animation:openScroll 2s forwards;
}

.acrostic{
text-align:left;
line-height:1.8;
font-size:18px;
}

@keyframes openScroll{
from{
transform:scaleY(0);
}
to{
transform:scaleY(1);
}
}



/* HIDDEN */

.hidden{
display:none;
}
