body{
margin:0;
font-family:Georgia, serif;
color:white;
overflow-x:hidden;
}

/* DUNGEON */

#dungeon{
height:100vh;
background-image:url("dungeon.jpg");
background-size:cover;
background-position:center;
display:flex;
align-items:center;
justify-content:center;
}

.popup{
background:rgba(0,0,0,0.6);
padding:40px;
border-radius:12px;
text-align:center;
backdrop-filter:blur(5px);
}

.popup input{
padding:10px;
border:none;
border-radius:6px;
margin-top:10px;
}

.popup button{
margin-top:10px;
padding:10px 20px;
border:none;
background:#b48cff;
color:white;
border-radius:6px;
cursor:pointer;
}

/* MUSEUM */

#museum{
min-height:100vh;
background-image:url("museum.jpg");
background-size:cover;
background-position:center;
text-align:center;
padding-bottom:120px;
}

.title{
padding-top:40px;
font-size:40px;
color:#e8dbff;
}

/* GALLERY */

.gallery{
display:flex;
justify-content:center;
gap:60px;
margin-top:120px;
}

/* GOLDEN FRAME */

.frame{
padding:14px;
background:#fff8dc;
border:12px solid #d4af37;
box-shadow:0 20px 40px rgba(0,0,0,0.4);
transform:translateY(-200px);
opacity:0;
transition:all 1s ease;
}

.frame img{
width:260px;
height:340px;
object-fit:cover;
display:block;
}

.frame.show{
transform:translateY(0);
opacity:1;
}

/* SCROLL MESSAGE */

.scroll{
margin:80px auto;
max-width:700px;
background:#f6e6b4;
color:#3a2a0a;
padding:40px;
border-radius:6px;
font-family: "Times New Roman", serif;
box-shadow:0 10px 30px rgba(0,0,0,0.4);
}

/* POEM */

.poem{
margin-top:40px;
max-width:600px;
margin-left:auto;
margin-right:auto;
background:rgba(255,255,255,0.8);
color:#3b2c63;
padding:30px;
border-radius:10px;
}

.hidden{
display:none;
}
